nav.md-nav {
  overflow: visible !important;
  max-height: 100% !important;
}

.nav.md-nav.md-nav--secondary {
  display: none !important;
}

label.md-nav__title.md-nav__title--site {
  display: none;
}


nav.md-nav.md-nav--primary > ul.md-nav__list > :first-child {
  display: none !important;
}

.js .md-nav__item--nested>.md-nav__link:after {
  content: "";
}

.md-nav__item {
  margin-bottom: 1rem;
}


/* Do not show sidebar in article */
.md-content {
  margin-right: 0;
}
div.md-sidebar.md-sidebar--secondary {
  display: none;
}

/* links in article */
.md-content a {
  text-decoration: underline;
}

.md-content h1, .md-content h2, .md-content h3, .md-content h4 {
  font-weight: bold;
}

.md-content h1 {
  color: black;
}

.md-footer-nav {
  display: none;
}
